################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CSharpDownloader/obj
/.vs
/CSharpDownloader/bin/Debug/netcoreapp2.2
/CSharpDownloader/bin/Debug/netcoreapp2.1
